<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment::head}"></head>
<body>

<div class="top-bar">
    <a th:href="@{/user}">
        <button class="login-button" type="button">User</button>
    </a>
</div>

<div class="logo-container">
    <span class="logo">WildSearch</span>
</div>

<div class="google-search">
    <script async src="https://cse.google.com/cse.js?cx=34edd376404af4e39"></script>
    <div class="gcse-search"></div>
</div>


<footer th:replace="~{fragment::footer}"></footer>
<script async src="https://cse.google.com/cse.js?cx=34edd376404af4e39"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
    (function () {
        var cx = '34edd376404af4e39';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();

    window.onload = function () {
        var title = "Type to search...";
        var textBox = document.querySelector("#gsc-i-id1");
        var button = document.querySelector(".gsc-search-button-v2 svg title");
        textBox.placeholder = title;
        textBox.title = title;
        button.innerHTML = title;
    }
</script>
</body>
</html>