<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WildSearch</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"/>
</head>

<body>

<h1>PLACEHOLDER</h1>

<div class="centered-bar">
    <a th:href="@{/}" class="search-button">
        <button class="search-button" type="button">Back</button>
    </a>
</div>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>