body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #4285f4 transparent;
    background-color: #202124;
}


body::-webkit-scrollbar {
    width: 10px;
}


body::-webkit-scrollbar-track {
    background: #202124;
}


body::-webkit-scrollbar-thumb {
    background-color: #3c3e44;
    border-radius: 5px;
}


.top-bar {
    background-color: #202124;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}


.login-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 15px 16px;
    cursor: pointer;
    width: 150px;
    max-width: 60%;
    margin-top: 20px;
    transition: background-color 0.3s;
}


.login-button:hover {
    background-color: #357ae8;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    padding-bottom: 10px;
}


.logo {
    font-size: 70px;
    color: #fff;
    font-weight: bold;
}


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #202124;
}


.google-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #202124;
}


.search-bar {
    display: flex;
    background-color: #333;
    border-radius: 24px;
}


.search-label {
    border: none;
    outline: none;
    padding: 12px 16px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    width: 400px;
    max-width: 80%;
    text-align: left;
}


.search-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 15px 16px;
    cursor: pointer;
    width: 200px;
    max-width: 80%;
    margin-top: 20px;
    transition: background-color 0.3s;
}


.search-button:hover {
    background-color: #357ae8;
}


.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    margin: 0;
}


.search-results {
    background-color: #333;
    border-radius: 24px;
    padding: 20px;
    max-width: 80%;
    overflow: auto;
    margin-bottom: 20px;
}


.result-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.result-list li {

}


.result-list li:last-child {
    border-bottom: none;
}


.search-item {
    margin-bottom: 10px;
    color: #fff;
}


.foot {
    background-color: #1f1e1e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.foot {
    background-color: #1f1e1e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.gsc-control-cse {
    background-color: #333 !important;
    border: 0 !important;
    padding: 10px 15px 10px 15px !important;
    margin: 0 !important;
    border-radius: 40px !important;
    overflow: hidden !important;
    width: 400px !important;
}
form.gsc-search-box,
table.gsc-search-box {
    margin-bottom: 0 !important;
}
.gcse-search-box {
    border: 0 !important;
    background: #333 !important;
}
.gcse-search-box-tools .gcse-search-box .gcse-input {
    padding-right: 0 !important;
}
#gs_tti50 {
    padding: 6px 0 !important;
    background: #333 !important;
}
#gsc-i-id1 {
    color: #000 !important;
    text-indent: 0 !important;
    font-size: 14px !important;
    line-height: 1 !important;
    background: none !important;
}
#gsc-i-id1::-webkit-input-placeholder {
    color: #999; /* Change the color to your preferred placeholder color */
    font-style: italic; /* Add italic style */
    font-weight: 300; /* Adjust font weight as desired */
    font-size: 14px; /* Adjust font size as desired */
}
#gsc-i-id1::-moz-placeholder {
    color: #333 !important;
    opacity: 1 !important;
}
.gsib_b {
    display: none !important;
}
.gsc-search-button-v2 {
    padding: 10px 10px !important;
    border-radius: 20px !important;
    margin-left: 0 !important;
    outline: none !important;
    border: 0 !important;
    cursor: pointer !important;
    background-color: #357ae8 !important; /* Change this to your preferred color */
}
.gsc-search-button-v2:focus {
    outline: none !important;
    box-shadow: none !important;
}