body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #4285f4 transparent;
    position: relative;
    height: 100vh;
    background-color: #202124;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #202124;
}

body::-webkit-scrollbar-thumb {
    background-color: #3c3e44;
    border-radius: 5px;
}

/* Style for the top bar */
.top-bar {
    background-color: #202124;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

/* Style for the login button */
#login-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 24px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#login-button:hover {
    background-color: #357ae8;
}

/* Style for the logo container */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Adjust the margin to your preference */
    padding-bottom: 20px;
}

/* Style for the logo */
.logo {
    font-size: 70px;
    color: #fff;
    font-weight: bold;
}

/* Style for the search container */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #202124;
}

/* Style for the search bar */
.search-bar {
    display: flex;
    background-color: #333;
    border-radius: 24px;
}

/* Style for the search label */
.search-label {
    border: none;
    outline: none;
    padding: 12px 16px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    width: 400px;
    max-width: 80%;
    text-align: left;
}

/* Style for the search button */
.search-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 15px 16px;
    cursor: pointer;
    width: 200px;
    max-width: 80%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #357ae8;
}

/* Style for the container center */
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Minimum height to center vertically */
    background-color: #202124;
    margin: 0;
}

/* Style for the search results box */
.search-results {
    background-color: #202124;
    padding: 20px; /* Add padding for spacing inside the box */
    max-width: 80%; /* Set a maximum width for the box */
    overflow: auto; /* Enable vertical scrolling if content overflows */
}

/* Style for the result list */
.result-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style for each search item */
.search-item {
    margin-bottom: 20px; /* Adjust the margin to your preference */
}

/* Style for the footer */
.foot {
    background-color: #1f1e1e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Style for footer links */
.foot {
    background-color: #1f1e1e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed; /* Fixed positioning for the footer */
    bottom: 0;
}