body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #4285f4 transparent;
    background-color: #202124;
}


body::-webkit-scrollbar {
    width: 10px;
}


body::-webkit-scrollbar-track {
    background: #202124;
}


body::-webkit-scrollbar-thumb {
    background-color: #3c3e44;
    border-radius: 5px;
}


.top-bar {
    background-color: #202124;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}


.login-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 15px 16px;
    cursor: pointer;
    width: 150px;
    max-width: 60%;
    margin-top: 20px;
    transition: background-color 0.3s;
}


.login-button:hover {
    background-color: #357ae8;
}


.button-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #202124;
    padding: 10px;
    margin-top: 20px;
    margin-left: 35px;
}


.split-button {
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.3s;
    flex: 4;
}


.online-button-online {
    background-color: #4285f4;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}


.offline-button-online {
    background-color: #333;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}


.online-button-offline {
    background-color: #333;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}


.offline-button-offline {
    background-color: #4285f4;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}


.split-button:hover {
    background-color: #357ae8;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}


.logo-container-small {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}


.logo {
    font-size: 70px;
    color: #fff;
    font-weight: bold;
}


.logo-small {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    display: block;
}


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #202124;
}


.search-bar {
    display: flex;
    background-color: #333;
    border-radius: 24px;
    width: 950px;
    margin: 0 auto;
    position: relative;
    padding: 5px 15px;
}


.search-bar-result {
    display: flex;
    background-color: #333;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 942px;
    margin: 0 auto;
    position: relative;
    padding: 5px 15px;
}


.search-label {
    border: none;
    outline: none;
    padding: 12px 16px;
    font-size: 16px;
    background-color: transparent;
    color: #999;
    flex: 1;
    text-align: left;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}


.search-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s;
    margin-right: 20px;
}


.fa-search:before {
    content: "\f002";
    font-family: "FontAwesome";
    font-size: 16px;
}


.search-button:hover {
    background-color: #357ae8;
}


.google-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #202124;
}


.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.container-center-offline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-bottom: 100px solid white;
}


.search-results {
    background-color: #333;
    padding: 20px;
    overflow: auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    width: 932px;
    max-width: 100%;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, #333333 2%, white 2%, white 98%, #333333 98%) 1;
}


.result-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.result-list li {

}


.result-list li:last-child {
    border-bottom: none;
}


.search-item {
    margin-top: 50px;
    margin-bottom: 10px;
    color: #999;
}


.foot {
    background-color: #1f1e1e;
    color: #999;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.foot {
    background-color: #1f1e1e;
    color: #999;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}


.gsc-control-cse {
    background-color: #333 !important;
    border: 0 !important;
    padding: 10px 15px !important;
    margin: 0 !important;
    border-radius: 40px !important;
    overflow: hidden !important;
    width: 1000px !important;
    display: flex !important;
}


form.gsc-search-box,
table.gsc-search-box {
    margin-bottom: 0 !important;
}


.gcse-search-box {
    border: 0 !important;
    background: #333 !important;
}


.gcse-search-box-tools .gcse-search-box .gcse-input {
    padding-right: 0 !important;
    color: #999 !important;
}


#gs_tti50 {
    padding: 6px 0 !important;
    background: #333 !important;
}


#gsc-i-id1 {
    color: #999 !important;
    text-indent: 0 !important;
    font-size: 14px !important;
    line-height: 1 !important;
    background: none !important;
}


#gsc-i-id1::-webkit-input-placeholder {
    color: #999;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}


#gsc-i-id1::-moz-placeholder {
    color: #999 !important;
    opacity: 1 !important;
}


.gsib_b {
    display: none !important;
}


.gsc-search-button-v2 {
    padding: 10px !important;
    border-radius: 20px !important;
    margin-left: 0 !important;
    outline: none !important;
    border: 0 !important;
    cursor: pointer !important;
    background-color: #4285f4 !important;
    transition: background-color 0.3s !important;
}


.gsc-search-button-v2:focus {
    outline: none !important;
    box-shadow: none !important;
}


.gsc-search-button-v2:hover {
    background-color: #357ae8 !important;
}